{% extends "base.html" %}

{% block title %}Displaying Connections{% endblock title %}

{% block menu %}
  <li><a href="/connections">Active Connections</a></li>
  <li><a href="/new">New Connection</a></li>
  <li><a href="/accept">Accept Invitation</a></li>
{% endblock menu %}  

{% block content %}
    <h1>Accept Connection Invitation</h1>
    {% if error %}
    <p class="error">
        Establishing the connection was not successful!
    </p>
    {% endif %}

    {% if submitted %}
    <p class="success">
        Connection established successfully!
    </p>

    {% else %}
    <form action="" method="post" novalidate>
        <textarea name="connection_info" rows="10" cols="70" >      
        </textarea>
    
        <input type="submit" value="Accept">
    {% csrf_token %}
    </form>
    {% endif %}

{% endblock content %}