{% extends "base.html" %}

{% block title %}Displaying Schemas{% endblock title %}

{% block menu %}
  <li><a href="/schema">Schema</a></li>
  <ul>
    <li><a href='/schema'>Create Schema</a></li>
    <li><a href='/get-schemas'>Load Schemas</a></li>
  </ul>
  <li><a href="/credential-definition">Credential Definition</a></li>
  <li><a href="/revocation-registry">Revocation Registry</a></li>
{% endblock menu %}  

{% block content %}
    <h1>Create a Schema</h1>
    {% if error %}
    <p class="error">
        Creating the schema was not successful!
    </p>
    {% endif %}

    {% if submitted %}
    <p class="success">
        Schema submitted successfully!
    </p>

    {% else %}
    <form action="" method="post" novalidate>
        <p>
            <label style="margin-left: 10px;" for="Schema Name">Schema Name:</label>
        </p><p>
            <input style="margin-left: 10px;width: 300px;" type="text" id="schema_name" name="schema_name" placeholder="Enter a Schema Name">
        </p><p>
            <label style="margin-left: 10px;" for="Schema Version">Schema Version:</label>
        </p><p>
            <input style="margin-left: 10px;width: 300px;" type="text" id="schema_version" name="schema_version" placeholder="Enter a Schema Version">
        </p><p>
            <label style="margin-left: 10px;" for="Schema Attributes">Schema Attributes:</label>
        </p><p>
            <input style="margin-left: 10px;width: 300px;" type="text" id="schema_attrs" name="schema_attrs" placeholder="Schema Attributes separated by &quot,&quot ">
        </p>
        <input style="margin-left: 10px;" type="submit" value="Create Schema">
    {% csrf_token %}
    </form>
    {% endif %}

{% endblock content %}