{% extends "base.html" %}

{% block title %}Revocation{% endblock title %}

{% block menu %}
  <li><a href="/issue-credential">Issue Credential</a></li>
  <li><a href="/credentials">Revoke Credential</a></li>
{% endblock menu %} 

{% block content %}
  <h1>Issued Credentials</h1>

  <form action="" method="post" novalidate>
  <table width="100">
    <tr>
      <th>Key       </th>
      <th>Value</th>
    </tr>

    <tr>
        <td>Exchange Id</td>
      <td>{{ credential.cred_ex_id }}</td>
    </tr>
    <tr>
        <td>State</td>
        <td>{{ credential.state }}</td>
    </tr>
    <tr>
        <td>Update Date</td>
        <td>{{ credential.updated_at }}</td>
    </tr>
    <tr>
        <td>Cred Def Id</td>
        <td>{{ credential.cred_def_id }}</td>
    </tr>
    <tr>
        <td>Record Id</td>
        <td>{{ credential.record_id }}</td>
    </tr>
    <tr>
        <td>Exchange Version</td>
        <td>{{ credential.cred_ex_version }}</td>
    </tr>
    <tr>
        <td>Credential Revocation Id</td>
        <td><div>{{ credential.cred_rev_id }}</div></td>
    </tr>
    <!-- <tr>
        <td>Revocation Registry Id</td>
        <td>{{ credential.rev_reg_id }}</td>
    </tr> -->
    <tr>
        <td>Create Date</td>
        <td>{{ credential.created_at }}</td>
    </tr>

  </table>
  <input style="margin-left: 10px;" type="submit" value="Revoke Credential">
  {% csrf_token %}
  </form>
{% endblock content %}