{% extends "base.html" %}

{% block title %}Revocation{% endblock title %}

{% block menu %}
  <li><a href="/issue-credential">Issue Credential</a></li>
  <li><a href="/credentials">Revoke Credential</a></li>
{% endblock menu %} 

{% block content %}
  <h1>Credential Exchange Records</h1>

  <table> 
    <tr>
      <th>Credential Exchange ID</th>
      <th>Revocation Registry</th>
      <th>Credential Revocation ID</th>
    </tr>
    {% for cred_ex_record in cred_ex_records %}
    <tr>
      <td><strong><p><a href="/revoke-credential/{{ cred_ex_record.cred_ex_id }}/{{ cred_ex_record.rev_reg_id }}/{{ cred_ex_record.cred_rev_id }}">{{ cred_ex_record.cred_ex_id }}</a></p> </strong></td>
      <td><p>{{ cred_ex_record.rev_reg_id }}</p></td>
      <td>{{ cred_ex_record.cred_rev_id }}</td>
    </tr>
    {% empty %}
    <tr>
      <td><strong>{% now "m-d-y" %}</strong></td>
      <td>No Records</td>
      <td></td>
    </tr>
    {% endfor %}
  </table>

  <style>
    p {
      word-break: break-word;
    }
  </style>


{% endblock content %}