{% extends "base.html" %}

{% block title %}Revocation{% endblock title %}

{% block menu %}
  <li><a href="/issue-credential">Issue Credential</a></li>
  <li><a href="/credentials">Revoke Credential</a></li>
{% endblock menu %} 

{% block content %}
  <h1>Issued Credentials</h1>

  {% if error %}
    <p class="error">
        Revocation was not successful!
    </p>
    {% endif %}

    {% if submitted %}
    <p class="success">
        Revocation was successful!
    </p>
    {% endif %}

  <form action="" method="post" novalidate>
  <table width="100">
    <tr>
      <th>Key       </th>
      <th>Value</th>
    </tr>

    <tr>
        <td>Exchange Id</td>
      <td>{{ credential.cred_ex_id }}</td>
    </tr>
    <tr>
        <td>State</td>
        <td>{{ credential.state }}</td>
    </tr>
    <tr>
        <td>Update Date</td>
        <td>{{ credential.updated_at }}</td>
    </tr>
    <tr>
        <td>Cred Def Id</td>
        <td>{{ credential.cred_def_id }}</td>
    </tr>
    <tr>
        <td>Record Id</td>
        <td>{{ credential.record_id }}</td>
    </tr>
    <tr>
        <td>Exchange Version</td>
        <td>{{ credential.cred_ex_version }}</td>
    </tr>
    <tr>
        <td>Credential Revocation Id</td>
        <td><input type="text" id="cred_rev_id" name="cred_rev_id" value="{{ credential.cred_rev_id }}" readonly></td>
    </tr>
    <tr>
      <td>Create Date</td>
      <td>{{ credential.created_at }}</td>
  </tr>
    <tr>
        <td>Revocation Registry Id</td>
        <td><input width="200px" type="text" id="rev_reg_id" name="rev_reg_id" value="{{ credential.rev_reg_id }}" readonly></td>
    </tr> 
    

  </table>
  <input style="margin-left: 10px;" type="submit" value="Revoke Credential">
  {% csrf_token %}
  </form>

  <style>
    input {
        border: none;
    }
  </style>
{% endblock content %}