{% extends "base.html" %}

{% block title %}Revocation{% endblock title %}

{% block menu %}
  <li><a href="/issue-credential">Issue Credential</a></li>
  <li><a href="/credentials">Revoke Credential</a></li>
{% endblock menu %} 

{% block content %}
  <h1>Issued Credentials</h1>

  <h5>Select a Revocation Registry to display the issued credentials</h5>
  <form action="" method="post" novalidate>
  <p>
    <select style="margin-left: 10px;width: 400px;" name="rev_reg_id">
        {% for rev_reg_id in rev_reg_list %}
            <option value="{{ rev_reg_id }}">{{ rev_reg_id }}</option>
        {% endfor %}
    </select>
  </p>
  <input style="margin-left: 10px;" type="submit" value="Show Credentials">
  {% csrf_token %}
  </form>

{% endblock content %}