{% extends "base.html" %}

{% block title %}Revocation{% endblock title %}

{% block menu %}
  <li><a href="/issue-credential">Issue Credential</a></li>
  <li><a href="/credentials">Revoke Credential</a></li>
{% endblock menu %} 

{% block content %}
  <h1>Issued Credentials</h1>

  <table> 
    <tr>
      <th>Exchange ID</th>
      <th>State</th>
      <th>Update Date</th>
    </tr>
    {% for credential in credentials %}
    <tr>
      <td><strong><a href="/credential/{{ credential.cred_ex_id }}">{{ credential.cred_ex_id }} </strong></td>
      <td>{{ credential.state }}</td>
      <td>{{ credential.updated_at }}</td>
    </tr>
    {% empty %}
    <tr>
      <td><strong>{% now "m-d-y" %}</strong></td>
      <td>No issued credentials</td>
    </tr>
    {% endfor %}
  </table>

{% endblock content %}