{% extends "base.html" %}

{% block title %}Issue Credential{% endblock title %}

{% block menu %}
  <li><a href="/issue-credential">Issue Credential</a></li>
  <li><a href="/credentials">Revoke Credential</a></li>
{% endblock menu %}  

{% block content %}
    <h1>Issue a Credential</h1>
    {% if error %}
    <p class="error">
        Issuing the credential was not successful!
    </p>
    {% endif %}

    {% if submitted %}
    <p class="success">
        Credential successfully issued!
    </p>

    {% else %}
    <form action="" method="post" novalidate>
        <p>
            <label style="margin-left: 10px;" for="Schema Id">Credential Definition Id:</label>
        </p>
        <p>
            <select style="margin-left: 10px;width: 300px;" name="creddef_id">
                {% for creddef_id in creddef_list %}
                    <option value="{{ creddef_id.creddef_id }}">{{ creddef_id.creddef_id }}</option>
                {% endfor %}
            </select>
        </p>
        <p>
            <label style="margin-left: 10px;" for="Connection Id">Connection Id:</label>
        </p>
        <p>
            <select style="margin-left: 10px;width: 300px;" name="connection_id">
                {% for connection_id in connections_list %}
                    <option value="{{ connection_id.connection_id }}">{{ connection_id.connection_id }}:{{ connection_id.their_label }}</option>
                {% endfor %}
            </select>
        </p>
        <p>
            <label style="margin-left: 10px;" for="Attributes">Attributes</label>
        </p> 
            {% for attribute in attributes_list %}   
            <p>
                <input style="margin-left: 10px;width: 300px;" type="text" id="{{ attribute.key }}" name="{{ attribute.key }}" placeholder="{{ attribute.key }}">
            </p>
            {% endfor %}
        <input style="margin-left: 10px;" type="submit" value="Use Selection to issue Credential">
    {% csrf_token %}
    </form>
    {% endif %}

{% endblock content %}