{% extends "base.html" %}

{% block title %}Revoke Credential{% endblock title %}

{% block menu %}
  <li><a href="/issue-credential">Issue Credential</a></li>
  <li><a href="/credentials">Revoke Credential</a></li>
{% endblock menu %}  

{% block content %}
    <h1>Revoke a Credential</h1>
    {% if error %}
    <p class="error">
        Revoking the credential was not successful!
    </p>
    {% endif %}

    {% if submitted %}
    <p class="success">
        Credential successfully revoked!
    </p>

    {% else %}
    <form action="" method="post" novalidate>
        <p>
            <label style="margin-left: 10px;" for="Connection Id">Connection Id:</label>
        </p>
        <p>
            <select style="margin-left: 10px;width: 400px;" name="connection_id">
                {% for connection_id in connections_list %}
                    <option value="{{ connection_id.connection_id }}">{{ connection_id.connection_id }}:{{ connection_id.their_label }}</option>
                {% endfor %}
            </select>
        </p>
        <p>
            <label style="margin-left: 10px;" for="Revocation Registry ID">Revocation Registry ID</label>
        <p>
            <input style="margin-left: 10px;width: 400px;" type="text" name="rev_reg_id" value="{{ rev_reg_id }}" readonly>
        </p>
        <p>
            <label style="margin-left: 10px;" for="Credential Revocation ID">Credential Revocation ID</label>
        <p>
            <input style="margin-left: 10px;width: 400px;" type="text" name="cred_rev_id" value="{{ cred_rev_id }}" readonly>
        </p>
        <input style="margin-left: 10px;" type="submit" value="Revoke Credential">
    {% csrf_token %}
    </form>
    {% endif %}

{% endblock content %}